<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  </head>
  <body>
	<!-- Navigation Bar -->
    <div class="navbar">
	  <a href="{{ url_for('login') }}">Login</a></li>
	  <a href="{{ url_for('create_account') }}">Create Account</a></li>
    </div>

	<main>
    <h1>Login</h1>

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('login') }}">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
      <br><br>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
      <br><br>
      <input type="submit" value="Login">
    </form>
	</main>


  </body>
</html>

