<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar">
		<a href="{{ url_for('index') }}">Home</a>
		<a>Search</a>
		<a href="{{ url_for('logout') }}">Logout</a>
    </div>

	<br>

	<h1> Search for Recipes </h1>
    <!-- Search form -->
    <form method="POST" action="{{ url_for('search') }}">
      <input type="text" id="query" name="query">
      <button type="submit">Submit</button>
    </form>

	<br>

	{% if results != None %}
	<ul>
	{% for  recipe in results['results'] %}
	  {% if loop.index0 == 0 %}
	    <hr>
	  {% endif %}
	  <li>
		<a href="{{url_for('recipe', recipe_id = recipe['id'])}}">{{recipe['title']}}</a> <br>
		<img src="{{recipe['image']}}">
	  </li>
	  <hr>
	{% endfor %}
	</ul>
	{% endif %}

  </body>
</html>

